*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.chatbox{
    margin-top: 0%;
    height:100vh;   
    border-radius: 10px;
    margin-left: 1%;
}
.imagelist{
   
    height: 50px;
    
}
.imagebox{
   
    border-radius: 50px;
    border: none;
    width:40px;
    height:40px;
    margin-top: 5%;
    left: 20px;

}
.personlogo{
    height:40px;
    width:40px;
    border-radius: 50px;
   
}
.status{
    
    z-index:1;
    height:15px;
    width:15px;
    border:none;
    border-radius: 50px;
    margin-top: 48px;
    margin-left: 30px;
    background-color:#73C6B6;
}
.chatlist{
    border:1px solid rgb(185, 182, 182);
    border-top: none;
    border-left: none;
    border-right: none;
    height:50px;
    margin-top: 5%;
}