*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    position: relative;
}

.chatbox{
    position: relative;
    margin-top: 25%;
    height:100vh;
    border:1px solid black;
    border-radius: 10px;
}
.imagelist{
    
    height: 50px;
    
}
.imagebox{
    position: absolute;
    border-radius: 50px;
    border: 1px solid black;
    width:30px;
    height:30px;
    top:7px;
    left: 10px;
}
.personlogo{
    height:30px;
    width:30px;
    border-radius: 50px;
   
}
.status{
    position: fixed;
    z-index:1;
    height:10px;
    width:10px;
    border:1px solid black;
    border-radius: 50px;
    margin-top: 29px;
    margin-left: 15px;
    background-color: green;
}
.chatlist{
    border:1px solid rgb(185, 182, 182);
    border-top: none;
    border-left: none;
    border-right: none;
    height:50px;
}