.btn-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.login-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.span-tag{
     color:  #1a75ff;
     cursor: pointer;
}
.span-tag:hover{
    color: #99c2ff
}
.hading{
    display: flex;
    justify-content: center;
}